body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#join-screen {
    margin-top: 100px;
}

#participant-view {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#remoteVideos{
 display: flex;
 flex-direction: column; 
 justify-content: center;
 align-items: center;  
}

#controls {
    margin-top: 20px;
}

#joystick-controls {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
    background: radial-gradient(circle, #e6e6e6, #bfbfbf);
    display: flex;
    align-items: center;
    justify-content: center;
}

#joystick-controls button {
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#joystick-controls button:hover {
    background-color: #45a049;
}

#joystick-controls #up-btn {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#joystick-controls #down-btn {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#joystick-controls #left-btn {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#joystick-controls #right-btn {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#joystick-controls #up-left-btn {
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
}

#joystick-controls #up-right-btn {
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
}

#joystick-controls #down-left-btn {
    bottom: 0;
    left: 0;
    transform: translate(50%, -50%);
}

#joystick-controls #down-right-btn {
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
}

#joystick-controls #emergency-stop-btn {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF4136;
    font-size: 16px;
}

#joystick-controls #emergency-stop-btn:hover {
    background-color: #FF0D00;
}